@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #DCF4FE;
}

.border {
  padding: 50px;
  background: white;
  border-radius: 10px;
}

.container {
  width: 58rem;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #DBDBDB;
}

.fashionImage {
  width: 40%;
  height: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-radius: 10px;
}

.right-container {
  width: 60%;
  height: 100%;
}

.login-logo {
  font-family: "Volkhov", serif;
  font-size: 35px;
  font-weight: 400;
  color: #484848;
  margin: 25px 0px 0px 90px;
}

.login-container {
  width: 20rem;
  height: 25rem;
  margin: 20px 0px 0px 90px;
}

.sso-text {
  font-family: "Volkhov", serif;
  font-size: 20px;
  font-weight: 400;
  color: black;
}

.sso-google {
  width: 12rem;
  height: 2rem;
  border: 1px solid #5B86E5;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sso-google:hover {
  background: #5B86E5;
  color: white;
}

.sso-google img {
  width: 18px;
  height: 18px;
}

.sso-google h1 {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.input-container {
  width: 100%;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.5rem;
}

.input-container input {
  width: 100%;
  height: 2rem;
  border: none;
  outline: none; 
  border-bottom: 1px solid #9D9D9D;
}

.button-container {
  width: 100%;
  height: 8.5rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 1rem;
}

.login {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid black;
  color: black;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login:hover {
  color: white;
  background: black;
} 

.register {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #5B86E5;
  color: #5B86E5;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.register a {
  display: inline-block;
  padding: 10px 100px;
  transition: all 0.3s ease-in-out;
}

.register:hover {
  background: #5B86E5;
} 

.register:hover a{
  color: white;
} 


.forgot-password {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
  float: right;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

a:-webkit-any-link {
  color: #5B86E5;
  text-decoration: none;
}